.container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.container .row.first{
    width: 100%;
    display: flex;
    justify-content: space-around;
}
.container > .first > button{
    width: 15%;
}


.container .row.second{
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.container .row.trhird{
    width: 100%;
    display: flex;
    justify-content: center;
}
.container > .trhird > button{
    margin-left: 5px;
    width: 33%;
}