.container > .row{
    flex-direction: column;
}
.row > img{
    width: 60px;
    height: 60px;
}
.row > div > button{
    display: flex;
}
.row .time{
    display: flex;
    align-items: center;
}
.form-inline{
    justify-content: space-evenly;
}

.modal-footer{
    flex-wrap: nowrap;
    justify-content: start;
}